* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: lightsalmon;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0 1% 0;
    border-radius: 0 0 10px 10px;
}

img {
    width: 90%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.cuenta {
    padding: 10px 10px 20px;
    background-color: wheat;
    border-radius: 10px;
    margin: 1%;
    height: 20%;
    cursor: nw-resize;
}

.cuenta:hover {
    transition: 2s;
    background-color: lightgreen;
    color: rgb(241, 76, 10);
    border: 5px solid darkolivegreen;
    padding: 3%;
    font-size: 21px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}

th, td {
    border: 3px solid white;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.cuenta table tr:nth-child(2) td:last-child {
    background-color: black;
    color: white;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    height: 10vh;
    padding: 0% 5%;
    font-weight: bolder;
    height: 6%;
}

.platos {
    display: flex;
    flex-wrap: wrap;
}

.platos figure {
    width: 40%;
    margin: 1% auto;
    border: 1px solid black;
    padding: 10px;
}

.platos figure:hover {
    width: 45%;
    cursor: pointer;
    transition: 2s;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
}

#si:hover {
    background-color: green;
    color: yellow;
    transition: 1s;
}

#no:hover {
    background-color: red;
    color: white;
    transition: 1s;
}

.platos figure:first-child button img {
    padding-top: 5%;
    transition: 1s;
}

.platos figure:first-child button img:hover {
    padding-top: 0%;
}

.platos figure figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
}

.platos figure:first-child figcaption {
    position: relative;
    top: 7%;
}

.buttons {
    margin-top: 10%;
}

.button {
    background-color: tomato;
    cursor: pointer;
    border-radius: 10px;
    padding: 4%;
    margin: 4%;
    width: 40%;
}

footer a {
    position: absolute;
    left: 0px;
    padding-left: 15px;
    color: white;
}